body{
    color: darkgreen;
}
.container{
    display: grid;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 5px;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}

.item{
    background: darksalmon;
    border:1px solid deeppink;
    padding: 10px;
}

.item:nth-of-type(5){
    align-self: start;
    justify-self: start;
}

.header{
    grid-area:header;
}

.left{
    grid-area: left;
}

.contenido{
    grid-area: contenido;
}

.footer{
    grid-area: footer;
}