body{
    color: darkgreen;
}
.container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    display: grid;
    /* grid-template-columns: 25% 200px 25%;
    grid-template-rows: 300px 300px; */
    /* grid-template: 300px 100px 100px / repeat(4, minmax(200px, 1fr)); */
    /* column-gap: 10px;
    row-gap: 10px; */
    gap: 10px;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    height: 100vh;
    grid-template-areas: "";

}

.item{
    background: darksalmon;
    border:1px solid deeppink;
    padding: 10px;
}

.item:nth-of-type(4){
    background: greenyellow;
    overflow: auto;
    display: grid;
    grid-template: 50px 50px 50px / 200px 200px 200px;

}
.item .item{
    background: indigo;
    color: ivory;
}